

@model IEnumerable<Data.Entities.Product>


@{
    ViewBag.Title = "Home Page";
    int count = 0;
}


<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="two columns u-pull-right">
                    <ul>
                        <li class="submenu">
                            <img src="~/Content/img/cart.png" id="img-carrito" alt="carrito">
                            <div id="carrito">
                                <table id="lista-carrito" class="u-full-width">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th id="TotalCart"></th>
                                            <th></th>
                                        </tr>
                                    </tbody>
                                </table>

                                <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                                <a href="#" id="terminar-compra" class="button u-full-width">Terminar compra</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div id="lista-cursos" class="container">
        <h1 id="encabezado" class="encabezado">Productos</h1>
        <div class="row">



            @foreach (var product in Model)
            {
                count++;

                <div class="four columns">
                    <div class="card" style="height: 100%;">
                        <img src="~/Content/img/@Html.DisplayFor(modelItem => product.Img)" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>@Html.DisplayFor(modelItem => product.Name)</h4>
                            <p>@Html.DisplayFor(modelItem => product.Description)</p>
                            <img src="~/Content/img/estrellas.png">
                            <p class="precio"> <span class="u-pull-right ">$@Html.DisplayFor(modelItem => product.Price)</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="@Html.DisplayFor(modelItem => product.Id)">Agregar Al Carrito</a>
                        </div>
                    </div> <!--.card-->
                </div>
            }
        </div>


    </div>


</body>

@*<h1>Product List</h1>

    <ul>
        @foreach (var product in Model)
        {
            <li>
                <h3>@product.Name</h3>
                <p>@product.Description</p>
                <p>Price: $@product.Price</p>
            </li>
        }
    </ul>*@
